<nav class="nav">
  <h1>Policy Boss</h1>
  <div>
    <input type="text" placeholder="search products">
    <button>search</button>
  </div>
  <ul class="dropdown-menu product-toggle" aria-labelledby="navbarDropdown" id="productDetail" >
    <li class="Car">
        <a href="/car-insurance" title="Car Insurance">Car Insurance</a>
    </li>
    <li class="Bike">
        <a href="/two-wheeler-insurance" title="Bike Insurance">Bike Insurance</a>
    </li>
    <li class="Health">
        <a href="/health-insurance/" title="Health Insurance">Health Insurance</a>
    </li>
    <li class="term-insurance-visible">
        <a href="https://term.policyboss.com/term-insurance?ses_id={{session_id}}" title="Term Insurance">Term Insurance</a>
    </li>
    <li class="">
        <a href="/travel-insurance" title="Travel Insurance">Travel Insurance</a>
    </li>
    <li class="">
        <a href="/personal-accident-insurance/" title="Personal Accident Insurance">Personal Accident Insurance</a>
    </li>
    <li class="CV">
        <a href="/commercial-vehicle-insurance" title="Commercial Vehicle Insurance">Commercial Vehicle Insurance</a>
    </li>
</ul>
</nav>